<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}">This is my CV</title>
</head>
<body>
    <h1>Curriculum Vitae</h1>
    <hr />
    <h2>Basic Information</h2>
    <h4>Fata Nugraha</h4>
    <h4>Jakarta, 17 Agustus 1945, Depok</h4>
    <hr />
    <h2>Education History</h2>
    <ul>
        <li>SD - MIN Malang 1</li>
        <li>SMP - MTsN Negeri Malang 1</li>
        <li>SMA - MAN 3 Malang</li>
        <li>S1 - Ilmu Komputer, Universitas Indonesia</li>
    </ul>
    <hr />
    <h4>i like cats. sometimes i also like to code.</h4>

</body>
</html>

